$color-lightest: #fff;
$color-blue-light: #87cefa;
$color-main-background: #e9dbce;

/* TEXT */
$color-text-light: #5b5959;
$color-text-dark: #00008b;
$color-productslider-pointer: #ff0000;

/*FOOTER-COLORS*/
$color-footer-background: #3c3c6c;
$footer-blueline-color: #1190fc;
$footer-thinline-color: #7b83ae;
$color-text-footer: #ffffff;