@mixin calendar-cell($color) {
  width: 40px;
  height: 40px;
  background-color: $color;
  float: left;
  text-align: center;
  line-height: 40px;
}

@function opposite-direction($directions) {
  $opposite-directions: ();
  $direction-map: (
          'top': 'bottom',
          'right': 'left',
          'bottom': 'top',
          'left': 'right',
          'center': 'center',
          'ltr': 'rtl',
          'rtl': 'ltr'
  );

  @each $direction in $directions {
    $direction: to-lower-case($direction);

    @if map-has-key($direction-map, $direction) {
      $opposite-directions: append($opposite-directions, unquote(map-get($direction-map, $direction)));
    } @else {
      @warn "No opposite direction can be found for `#{$direction}`. Direction omitted.";
    }
  }

  @return $opposite-directions;
}

@mixin triangle($direction, $color) {
  position: absolute;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  cursor: pointer;
  border-#{opposite-direction($direction)}-color: $color;
}

.archive {
  display: table-cell;
  letter-spacing: 3px;
  background: green;
  color: white;
  text-align: center;
  padding-top: 2px;
  height: 30px;
  width: 280px;
  vertical-align: middle;
}

.month {
  position: relative;
  padding-top: 8px;
  background: black;
  text-align: center;
  color: white;
  width: 280px;
  height: 25px;
}

.left-arrow {
  @include triangle(left, green);
  bottom: 4px;
}

.right-arrow {
  @include triangle(right, green);
  right: 0;
  bottom: 4px;
}

.day {
  padding-top: 10px;
  @include calendar-cell(lavender);
}

.inactive {
  color: grey;
  @include calendar-cell(lavender);

  &:hover {
    cursor: pointer;
    background-color: aliceblue;
  }
}

.active {
  @include calendar-cell(lavender);

  &:nth-last-of-type(-n+2) {
    color: red;
  }

  &:hover {
    cursor: pointer;
    background-color: aliceblue;
  }
}

.calendar-dates {
  width: 280px;

  &::after {
    content: '';
    display: block;
    clear: both;
  }
}