/* FONTS */
$fa-font-path: "./../assets/fonts/webfonts";

/* LAYOUT */
$container-width: 1200px;
$padding-default: 2rem;
$border-radius-default: 5px;

/* Global z-index */
$z-index: (
  product-slider: 100
);